{% load staticfiles %}
<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
      <script src="{% static "update_readonly_area.js" %}"></script>
    <title>Накладная приложение приема выдачи инвентаря</title>
  </head>
  <body>
  <form action="" method="post">
    <div class="small font-weight-bold text-right" style="margin-right: 3%; margin-top: 0.3%;">Форма ФИУ-20</div>
    <div class="form-group row" style="margin-left: 2.4%; margin-bottom: 0px;">
        <label  class="font-weight-bold">Накладная-приложение №</label >
        <div class="col-sm-2">
            <input style="height: 28px" id="num_invoice" name="data_invoice" class="form-control form-control-sm" type="text" placeholder="№ накладной">
        </div>
        <label  class="font-weight-bold">от</label >
        <div class="col-sm-2">
            <input type="date" id="date_invoice" name="data_invoice" style="height: 28px" min="2010-00-01" max="3000-12-31" class="form-control">
        </div>
    </div>
    <div class="small" style="margin-left: 2.4%;">На выдачу (приему) инвентаря</div>
    <div class="form-group row" style="margin-left: 2.4%; margin-top: 1%">
        <strong>поезд (состав): поезд </strong>
        <div class="col-sm-1">
            <input style="height: 30px" id="num_train" name="data_invoice" class="form-control form-control-sm" type="text" placeholder="№ поезда">
        </div>
    </div>
    <table class="table table-bordered text-center small" style="margin: auto; margin-top: 1%; margin-bottom: 1%; width: 95%;">
      <thead>
        <tr>
            <th colspan="2" rowspan="2" >
                <table style="margin: auto; width: 100%;">
                    <tbody>
                    <tr>
                        <th>вагон №</th>
                        <th><input style="height: 30px" id="num_wagon" name="data_invoice" class="form-control form-control-sm" type="text" placeholder="№ вагона"></th>
                    </tr>
                    <tr>
                        <th>зав.№:</th>
                        <th><input style="height: 30px" id="id_wagon" name="data_invoice" class="form-control form-control-sm" type="text" placeholder="Заводской №"></th>
                    </tr>
                    </tbody>
                </table>
            </th>
            <th class="h6 font-weight-bold" colspan="2" rowspan="2">ВЫЕЗД В РЕЙС</th>
            <th class="h6 font-weight-bold" colspan="6">ВОЗВРАТ ИЗ РЕЙСА</th>
        </tr>
        <tr>
            <th colspan="3" >Заполняется проводником</th>
            <th colspan="3" >Заполняется кладовщиком</th>
        </tr>
        <tr>
            <th>№ п/п</th>
            <th class="text-weight-normal">Наименование</th>
            <th>Остаток (застил) шт.</th>
            <th>Выдано (шт.)</th>
            <th>Сдано использованного (шт.)</th>
            <th>Сдано неиспользованного (шт.)</th>
            <th>Остаток (застил) шт.</th>
            <th>Принято использованного (шт.)</th>
            <th>Принято неиспользованного (шт.)</th>
            <th>Недостача</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <th class="text-left">1</th>
              <th class="text-left" name="data_table" >Книга описи и учета съемного мягкого имущества (Форма-11)</th>
              <th style="padding: 0px;"><textarea id="r1c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r1c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">2</th>
              <th class="text-left" name="data_table" >Ковровая дорожка купейная шерсть (1,5*0,65)</th>
              <th style="padding: 0px;"><textarea id="r2c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r2c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">3</th>
              <th class="text-left" name="data_table" >Комплект бязь, х/б рабочий</th>
              <th style="padding: 0px;"><textarea id="r3c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r3c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">4</th>
              <th class="text-left" name="data_table">Комплект купе бязь</th>
              <th style="padding: 0px;"><textarea id="r4c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r4c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">5</th>
              <th class="text-left" name="data_table">Матрац ватный</th>
              <th style="padding: 0px;"><textarea id="r5c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r5c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">6</th>
              <th class="text-left" name="data_table" >Мешок для хранения постельного белья</th>
              <th style="padding: 0px;"><textarea id="r6c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r6c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">7</th>
              <th class="text-left" name="data_table">Одеяло синтетическое волокно</th>
              <th style="padding: 0px;"><textarea id="r7c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r7c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">8</th>
              <th class="text-left" name="data_table" >Подушка синтетическое волокно</th>
              <th style="padding: 0px;"><textarea id="r8c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r8c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">9</th>
              <th class="text-left" name="data_table" >Полотенце полулен</th>
              <th style="padding: 0px;"><textarea id="r9c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r9c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">10</th>
              <th class="text-left" name="data_table" >Полотенце х/б</th>
              <th style="padding: 0px;"><textarea id="r10c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r10c7" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">11</th>
              <th class="text-left" name="data_table" >Полотенце шелк</th>
              <th style="padding: 0px;"><textarea id="r11c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r11c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          <tr>
              <th class="text-left">12</th>
              <th class="text-left" name="data_table" >Салфетка для подоконных столиков полиэстер серая</th>
              <th style="padding: 0px;"><textarea id="r12c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r12c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
              <th class="text-left">13</th>
              <th class="text-left" name="data_table" >Чехол на матрац х/б</th>
              <th style="padding: 0px;"><textarea id="r13c1" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c2" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c3" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c4" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c5" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c6" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c7" name="data_table" onkeyup="calc_readonly_data(this)" class="text-center form-control form-control-sm"></textarea></th>
              <th style="padding: 0px;"><textarea id="r13c8" name="data_table" readonly class="text-center form-control form-control-sm"></textarea></th>
          </tr>
        </tbody>
      </table>
    <div class="form-group row" style="margin-left: 2.4%; margin-top: 1%">
        <strong >В рейс: </strong>
        <div class="col-sm-2">
            <input type="date" style="height: 28px" id="date_to_flight" name="data_invoice" min="2010-00-01" max="3000-12-31" class="form-control">
        </div>
    </div>
      <table class="table table-bordered small w-50" style="margin-left: 2.4%; margin-top: 1%; width: 95%;">
        <thead>
            <tr class="w-25">
              <th class="w-25"></th>
              <th class="text-center text-weight-normal">Инициалы</th>
              <th class="text-center">Табельный номер</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th class="font-weight-normal">Выдал</th>
            <th style="padding: 0px;"><textarea id="t1fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            <th class="font-weight-normal text-center">XXX</th>
          </tr>
          <tr>
            <th class="font-weight-normal">Принял экипировщик</th>
            <th style="padding: 0px;"><textarea id="t2fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            <th class="font-weight-normal text-center">XXX</th>
          </tr>
          <tr>
            <th class="font-weight-normal">Принял проводник</th>
            <th style="padding: 0px;"><textarea id="t3fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            <th style="padding: 0px;"><textarea id="t3tabel" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
          </tr>
          <tr>
            <th class="font-weight-normal">Принял проводник</th>
            <th style="padding: 0px;"><textarea id="t4fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            <th style="padding: 0px;"><textarea id="t4tabel" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
          </tr>
        </tbody>
      </table>
      <div class="form-group row" style="margin-left: 2.4%; margin-top: 1%">
        <strong >Из рейса: </strong>
        <div class="col-sm-2">
            <input type="date" style="height: 28px" id="date_from_flight" name="data_invoice" min="2010-00-01" max="3000-12-31" class="form-control">
        </div>
      </div>
      <table class="table table-bordered small w-50" style="margin-left: 2.4%;; margin-top: 1%; width: 95%;">
          <thead>
              <tr>
                <th class="w-25"></th>
                <th class="text-center text-weight-normal">Инициалы</th>
              </tr>
          </thead>
          <tbody>
            <tr>
                <th class="font-weight-normal">Сдал проводник</th>
                <th style="padding: 0px;"><textarea id="f1fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            </tr>
            <tr>
                <th class="font-weight-normal">Принял экипировщик</th>
                <th style="padding: 0px;"><textarea id="f2fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            </tr>
            <tr>
                <th class="font-weight-normal">Принял использованное</th>
                <th style="padding: 0px;"><textarea id="f3fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            </tr>
            <tr>
                <th class="font-weight-normal">Принял неиспользованное</th>
                <th style="padding: 0px;"><textarea id="f4fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            </tr>
            <tr>
                <th class="font-weight-normal">Представитель РЖД</th>
                <th style="padding: 0px;"><textarea id="f5fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            </tr>
            <tr>
                <th class="font-weight-normal">ЛНП</th>
                <th style="padding: 0px;"><textarea id="f6fio" name="data_invoice" class="text-center form-control form-control-sm"></textarea></th>
            </tr>
          </tbody>
        </table>
    <table style="margin: auto;" class="table">
        <tbody>
        <tr>
            <th>
                <div class="input-group mb-3 w-75" style="margin-left: 1.4%">
                    <label type="text" class="form-control">Объяснения виновного в недостаче лица: С недостачей согласен. Прошу вычесть из заработной платы.</label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <input id="minus_zp" name="data_invoice" type="checkbox">
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="form-group row">
                    <label style="margin-left: 2.4%" class="font-weight-bold">Фамилия: </label >
                    <div class="col-sm-2">
                        <input style="height: 28px" id="conductor_fio" name="data_invoice" class="form-control form-control-sm" type="text" placeholder="Фамилия">
                    </div>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <div style="margin-left: 2.4%; margin-bottom: 1%">
        <button type="submit" name="save" class="btn btn-success">Подтвердить</button>
    </div>
  </form>
  </body>
</html>